{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <ul class="list-group">
            {%for i in model %}
            <a href="{{ i.url }}" class="list-group-item-action" target="_blank">
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                    {%if i.pr_date is none %}
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ i.full_name }}</h5>
                            <small>{{ i.start_date.strftime("%B %d, %Y") }}</small>
                        </div>
                        <span class="badge badge-danger badge-pill">{{ i.days }}</span>
                    {% else %}
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ i.full_name }}</h5>
                            <small>{{ i.pr_date.strftime("%B %d, %Y") }}</small>
                        </div>
                        <p class="mb-1">{{ i.title }}</p>
                        <span class="badge badge-primary badge-pill">{{ i.days }}</span>
                    {% endif %}
                </li>
            </a>
            {%endfor%}
        </ul>
    </div>
</div>

{% endblock %}